@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Source Sans 3", sans-serif !important;
    color: white !important;
}

body {
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

nav.navbar {
    width: 95%;
    border-radius: 25px;
    padding: 5px;
    margin: 2% auto;
}

.hero-text h1 {
    font-weight: 900;
    font-size: 6rem;
}

.hero-text {
    padding-left: 25px;
}

.hero-section {
    position: relative;
    height: 87vh;
}

.arrow {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    background-color: rgba(92, 106, 196, 0.8);
    padding: 10px 20px;
    border-radius: 50px 50px 0 0;
    cursor: pointer;
}

#bobbing-icon {
    animation: bobbing 1s ease-in-out infinite;
}

.card {
    background-color: transparent !important;
    border: 0 !important;
}

.card-img-top {
    border-radius: 20px !important;
}

.slider-section {
    padding-top: 50px;
    background-color: white;
    color: black;
}

.tns-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tns-nav button {
    width: 10px;
    height: 10px;
    border: 0;
    background-color: white;
    border-radius: 25px;
    margin: 5px;
}

.tns-nav-active {
    background-color: #FE6A47 !important;
}

.section-title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: black;
    padding-left: 25px;
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}