@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Source Sans 3", sans-serif !important;
    color: white !important;
}

body {
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

nav.navbar {
    width: 95%;
    border-radius: 25px;
    padding: 5px;
    margin: 2% auto;
}

.hero-text h1 {
    font-weight: 900;
    font-size: 6rem;
}

.hero-text {
    padding-left: 25px;
}

.hero-section {
    position: relative;
    height: 87vh;
}

.arrow {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    background-color: rgba(92, 106, 196, 0.8);
    padding: 10px 20px;
    border-radius: 50px 50px 0 0;
    cursor: pointer;
}

#bobbing-icon {
    animation: bobbing 1s ease-in-out infinite;
}

.card {
    background-color: transparent !important;
    border: 0 !important;
}

.card-img-top {
    border-radius: 20px !important;
}

.slider-section {
    padding-top: 50px;
    background-color: white;
    color: black;
}

.tns-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tns-nav button {
    width: 10px;
    height: 10px;
    border: 0;
    background-color: white;
    border-radius: 25px;
    margin: 5px;
}

.tns-nav-active {
    background-color: #FE6A47 !important;
}

.section-title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: black;
    padding-left: 25px;
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 15s ease infinite;
}

.about-section,
.works-section,
.videos-section,
.contact-section {
    padding: 50px 0;
    background-color: white;
    color: black;
}

.about-section {
    justify-content: center;
    align-items: center;
}

.about-section .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    border-radius: 25px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.flip-card-inner.card-1 {
    border: 1.5px #2D50B9 solid;
}

.flip-card-inner.card-2 {
    border: 1.5px #C52600 solid;
}

.flip-card-inner.card-3 {
    border: 1.5px #ABA505 solid;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius: 25px;
}

.flip-card-back {
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
}

.card-1 .flip-card-back {
    background-color: #4169E166;
    color: #0029A5;
}

.card-2 .flip-card-back {
    background-color: #FE451866;
    color: #C52600;
}

.card-3 .flip-card-back {
    background-color: #F1E92766;
    color: #A09A0A;
}

.image-slider {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-card {
    text-align: center;
    padding: 20px;
    border-right: 1px solid #000000;
}

.contact-card:last-child {
    border-right: none;
}

.contact-card i {
    font-size: 50px;
}

.contact-card .icon-bg {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.address .icon-bg {
    background-color: #4866D6;
    color: white;
}

.phone .icon-bg {
    background-color: #FF6F46;
    color: white;
}

.email .icon-bg {
    background-color: #4866D6;
    color: white;
}

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}