@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Source Sans 3", sans-serif !important;
    color: white !important;
}

body {
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}



nav.navbar {
    width: 95%;
    border-radius: 25px;
    padding: 5px;
    margin: 2% auto;
    position: sticky;
    top: 0;
    z-index: 1000 !important;
    background-color: #f8f9fa;
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 0 !important;
    font-weight: 900;
}

nav.navbar li.nav-item {
    padding: 0px 5px;
}

nav.navbar .navbar-nav .nav-link:hover,
nav.navbar.scrolled .navbar-nav .nav-link:hover {
    color: #FE6A47 !important;
}

nav.navbar .navbar-nav .nav-link {
    transition: all 0.4s ease;
}

.btn,
.cta-button {
    background: #FE6A47 !important;
    color: white !important;
}

nav.navbar.scrolled {
    width: 100%;
    border-radius: 0 0 25px 25px;
    background-color: #B3C3F3 !important;
    padding: 15px;
}

nav.navbar.scrolled .navbar-nav .nav-link {
    color: #ffffff;
}

.hero-text h1 {
    font-weight: 900;
    font-size: 6rem;
}

.hero-text {
    padding-left: 25px;
}

.hero-section {
    position: relative;
    height: 87vh;
}

.arrow {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
    background-color: #B3C3F3;
    padding: 10px 20px;
    border-radius: 50px 50px 0 0;
    cursor: pointer;
}

#bobbing-icon {
    animation: bobbing 1s ease-in-out infinite;
}

.card {
    background-color: transparent !important;
    border: 0 !important;
}

.card-img-top {
    border-radius: 20px !important;
}

.section-title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    font-style: black;
    padding-left: 25px;
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 15s ease infinite;
}

.about-section,
.works-section,
.videos-section,
.contact-section,
.whatwedo-section {
    padding: 50px 0;
    background-color: white;
    color: black;
    z-index: 1 !important;
}

.about-section {
    justify-content: center;
    align-items: center;
}

.about-section .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
    border-radius: 25px;
    margin-top: 20px;
}

.flip-card img {
    width: 30px;
}

.flip-card .image-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
}

.flip-card:hover .image-container {
    display: none
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.flip-card-inner.card-1 {
    border: 1.5px #2D50B9 solid;
}

.flip-card-inner.card-2 {
    border: 1.5px #C52600 solid;
}

.flip-card-inner.card-3 {
    border: 1.5px #ABA505 solid;
}

.flip-card-inner.card-1 .image-container {
    background-color: #B3C3F3;
    padding: 15px 15px;
    border-radius: 50%;
}

.flip-card-inner.card-2 .image-container {
    background-color: #FFB5A3;
    padding: 15px 15px;
    border-radius: 50%;
}

.flip-card-inner.card-3 .image-container {
    background-color: #F9F6A9;
    color: #000;
    padding: 15px 15px;
    border-radius: 50%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    margin: 50px 0;
    height: 300px;
}

.flip-card-back {
    transform: rotateX(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    flex-direction: column;
}

.card-1 .flip-card-front {
    background-color: #4169E166;
    color: #0029A5;
}

.card-2 .flip-card-front {
    background-color: #FE451866;
    color: #C52600;
}

.card-3 .flip-card-front {
    background-color: #F1E92766;
    color: #A09A0A;
}

.card-1 .flip-card-back {
    background-color: #4169E166;
    color: #0029A5;
}

.card-2 .flip-card-back {
    background-color: #FE451866;
    color: #C52600;
}

.card-3 .flip-card-back {
    background-color: #F1E92766;
    color: #A09A0A;
}

.contact-card {
    text-align: center;
    padding: 20px;
    border-right: 1px solid #000000;
}

.contact-card:last-child {
    border-right: none;
}

.contact-card i {
    font-size: 50px;
}

.contact-card .icon-bg {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.address .icon-bg {
    background-color: #4866D6;
    color: white;
    width: 90px;
    height: 91px;
}

.phone .icon-bg {
    background-color: #FF6F46;
    color: white;
}

.email .icon-bg {
    background-color: #4866D6;
    color: white;
}

.footer {
    background: linear-gradient(135deg, #6A11CB, #2575FC, #a38333, #FF8008);
    color: white;
    padding: 65px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    margin-right: 10px;
}

/* Slider Container */
.slider-container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0;
    overflow: visible;
}

.whatwedo-section .text-content {
    display: flex;
    text-align: center;
    margin-top: 15px;
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.whatwedo-section .text-content h2 {
    font-size: 24px;
    margin: 10px 0;
}

.whatwedo-section .text-content p {
    width: 300px;
    font-size: 16px;
    margin: 10px 0;
}

.whatwedo-section .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.whatwedo-section .slick-center .text-content {
    opacity: 1;
    transform: translateY(0);
}

.whatwedo-section .slick-initialized .slick-slide {
    display: inline-flexbox !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}

/* General Slide Styling */
.whatwedo-section .slick-slide img {
    width: 300px;
    height: auto;
    margin: 0 -50px;
    border-radius: 10px;
    transition: opacity 0.6s ease, transform 0.6s ease, opacity 0.6s ease;
}

/* General Slide Styling */
.normal-slider .slick-slide img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

/* Base styles for all slides */
.whatwedo-section .slick-slide {
    transform: scale(0.8);
    filter: blur(4px);
    z-index: 0;
    transition: opacity 0.6s ease, transform 0.6s ease, opacity 0.6s ease;
    opacity: 0.3;
}

/* Slides directly adjacent to the center slide */
.whatwedo-section .slick-adjacent {
    transform: scale(0.9);
    z-index: 1;
    opacity: 0.8;
}

/* Active (center) slide */
.whatwedo-section .slick-center {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
    z-index: 2;
}

/* Overlay Text on Active Slide */
.whatwedo-section .slick-center .overlay {
    display: block;
}

.whatwedo-section .overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
    display: none;
}

/* Arrows */
.slick-prev:before,
.slick-next:before {
    color: #000 !important;
    font-size: 24px;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

#contact-section a, #contact-section p{
    font-weight: 600;
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease;
}

#contact-section a:hover{
    color: #FE6A47;
    text-decoration: none;
}

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .arrow {
        display: none;
    }

    .hero-text {
        padding: 15px 5px 5px 5px;
        text-align: center;
    }

    .hero-text h1 {
        font-weight: 900;
        font-size: 4rem;
    }

    .hero-section {
        height: 95vh;
    }

    .section-title {
        padding-left: 0;
        text-align: center;
    }

    .whatwedo-section .slick-slide img {
        width: 140px;
    }

    .cta-button {
        width: 300px;
    }

    .about-section, .works-section, .videos-section, .contact-section, .whatwedo-section {
        padding: 10px 0;
    }

    .contact-card{
border: 0;
    }

    .slick-slide img {
        width: 200px;
    }

    .slick-prev,
    .slick-next {
        font-size: 18px;
    }

    .whatwedo-section .overlay {
        font-size: 18px;
        padding: 10px;
    }
}

@media (min-width: 768px) {
    .hero-section {
        display: flex;
    }

    .col-md-4.contact-card {
        border: 0px !important;
    }
}
